$default-color: #050215;

%barlow-400 {
  font-family: 'Barlow-Regular', sans-serif;
  font-weight: 400;
}

%barlow-500 {
  font-family: 'Barlow-Medium', sans-serif;
  font-weight: 500;
}

%barlow-600 {
  font-family: 'Barlow-SemiBold', sans-serif;
  font-weight: 600;
}