@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  padding-top: 57px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
  }

  &__user {
    position: relative;
    z-index: 10;
  }

  &__user-link {
    transition: fill 0.5s;
  }

  &__user-link:hover path {
    fill: #B4977B;
  }

  &__user-num {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #050215;
    left: 17px;
    bottom: 23px;
    font-size: 8px;
    color: #ffffff;
    text-align: center;
    line-height: 12px;
    transition: background-color 0.5s;
  }

  &__user-link:hover .header__user-num {
    background-color: #B4977B;
  }
}

.menu {
  margin-right: 108px;

  li {
    position: relative;
    list-style: none;
    z-index: 10;
  }

  &__item {
    display: flex;
  }

  &__list {
    margin-right: 58px;
  }

  &__list:last-child {
    margin-right: 0;
  }

  &__list:hover .sub-menu__item {
    display: block;
  }

  &__link {
    @extend %barlow-500;
    font-size: 18px;
    line-height: 1.2;
    color: $default-color;
    transition: color 0.5s;
  }

  &__link:hover {
    color: #B4977B;
  }

  &__link--active {
    color: #B4977B;
  }
}

.sub-menu__link,
.sub-sub-menu__link {
  @extend %barlow-500;
  font-size: 18px;
  line-height: 1.2;
  color: $default-color;
  transition: color 0.5s;
}

.sub-menu__link:hover,
.sub-sub-menu__link:hover {
  color: #B4977B;
  border: 1px solid #B4977B;
}

.sub-menu__item {
  display: none;
  min-width: 120px;
  position: absolute;
  left: 0;
  top: 15px;
  padding-top: 15px;
  background-color: #e5e5e5eb;
}

.sub-menu__list:hover .sub-sub-menu__item {
  display: block;
}

.sub-menu__link,
.sub-sub-menu__link {
  display: block;
  padding: 5px 10px;
  text-align: center;
}

.sub-sub-menu__item {
  display: none;
  min-width: 120px;
  position: absolute;
  top: 10px;
  left: 100%;
  background-color: #e5e5e5eb;
}


.pagination {
  position: relative;

  &__item--top {
    position: absolute;
    top: 355px;
    left: 141px;
  }

  &__item--bottom {
    position: absolute;
    top: 651px;
    left: 141px;
  }

  &__link,
  &__link--active {
    @extend %barlow-500;
    font-size: 54px;
    line-height: 1.2;
    color: #E4D6C9;
  }

  &__link--active {
    color: #B4977B;
  }
}

.slider {
  &__wrapper {
    display: block;
    width: 1300px;
    height: 955px;
    margin-left: 360px;
    margin-top: -86px;
  }

  &__inner::before {
    position: absolute;
    content: '';
    background-image: url('../images/decor/photo1.png');
    width: 130px;
    height: 195px;
    bottom: 173px;
    right: 123px;
  }

  &__images {
    width: 517px;
    height: 800px;
    position: relative;
  }

  &__content {
    width: 650px;
    margin-top: -556px;
    margin-left: 133px;
    display: block;
    float: right;
  }

  &__title {
    @extend %barlow-600;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -2px;
    color: $default-color;
  }

  &__text {
    width: 650px;
    height: 120px;
    overflow: auto;
    @extend %barlow-400;
    font-size: 18px;
    line-height: 1.8;
    color: $default-color;
    margin: 36px 0 51px 0;
  }

  &__link {
    @extend %barlow-500;
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
    width: 178px;
    height: 60px;
    border-radius: 30px;
    padding: 20px 32px;
    background-color: #B4977B;
    transition: all 0.5s;
  }

  &__link:hover {
    background-color: #8d6a49;
    color: $default-color;
  }
}

.slider-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.slider-img__sign {
  @extend %barlow-500;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
  padding: 42px 40px;
  text-align: center;
  position: absolute;
  width: 517px;
  height: 117px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  bottom: 0;
  left: 0;
}

.slick-dots {
  display: flex;
  list-style: none;
}

.slick-dots li.slick-active button {
  background-color: #B4977B;
}

.slick-dots button {
  font-size: 0;
  border: none;
  width: 35px;
  height: 4px;
  background-color: #E5E5E5;
}

.page__num {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.page__num-img {
  width: 148px;
  object-fit: cover;
}

.dots {
  position: absolute;
  left: 70px;
  top: 528px;
  transform: rotate(90deg);
}







.footer {
  padding-bottom: 30px;

  &__social::after {
    position: absolute;
    content: '';
    background-image: url('../images/decor/arrow.svg');
    width: 58px;
    height: 79px;
    bottom: 31px;
    left: 141px;
    cursor: pointer;
  }

  &__social::before {
    position: absolute;
    content: '';
    background-image: url('../images/decor/photo2.png');
    width: 130px;
    height: 139px;
    bottom: 10px;
    right: 604px;
  }

  &__social {
    display: flex;
    margin-left: 420px;
  }

  &__link {
    margin-right: 82px;
    @extend %barlow-500;
    font-size: 14px;
    line-height: 1.2;
    color: $default-color;
    text-transform: uppercase;
    transition: color 0.5s;
    z-index: 10;
  }

  &__link:hover {
    color: #B4977B;
  }
}






@import 'media';

  