@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header {
  padding-top: 57px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
  }

  &__user {
    position: relative;
    z-index: 10;
  }

  &__user-link {
    transition: fill 0.5s;
  }

  &__user-link:hover path {
    fill: #B4977B;
  }

  &__user-num {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #050215;
    left: 17px;
    bottom: 23px;
    font-size: 8px;
    color: #ffffff;
    text-align: center;
    line-height: 12px;
    transition: background-color 0.5s;
  }

  &__user-link:hover .header__user-num {
    background-color: #B4977B;
  }
}

.menu {
  margin-right: 108px;

  li {
    position: relative;
    list-style: none;
    z-index: 10;
  }

  &__item {
    display: flex;
  }

  &__list {
    margin-right: 58px;
  }

  &__list:last-child {
    margin-right: 0;
  }

  &__list:hover .sub-menu__item {
    display: block;
  }

  &__link {
    @extend %barlow-500;
    font-size: 18px;
    line-height: 1.2;
    color: $default-color;
    transition: color 0.5s;
  }

  &__link:hover {
    color: #B4977B;
  }

  &__link--active {
    color: #B4977B;
  }
}

.sub-menu__link,
.sub-sub-menu__link {
  @extend %barlow-500;
  font-size: 18px;
  line-height: 1.2;
  color: $default-color;
  transition: color 0.5s;
}

.sub-menu__link:hover,
.sub-sub-menu__link:hover {
  color: #B4977B;
  border: 1px solid #B4977B;
}

.sub-menu__item {
  display: none;
  min-width: 120px;
  position: absolute;
  left: 0;
  top: 15px;
  padding-top: 15px;
  background-color: #e5e5e5eb;
}

.sub-menu__list:hover .sub-sub-menu__item {
  display: block;
}

.sub-menu__link,
.sub-sub-menu__link {
  display: block;
  padding: 5px 10px;
  text-align: center;
}

.sub-sub-menu__item {
  display: none;
  min-width: 120px;
  position: absolute;
  top: 10px;
  left: 100%;
  background-color: #e5e5e5eb;
}





@import 'media';

  